apiVersion: apps/v1
kind: Deployment
metadata:
  name: "book-api"
  labels:
    app: "book-api"

spec:
  selector:
    matchLabels:
      app: "book-api"
  replicas: 2
  template:
    metadata:
      labels:
        app: "book-api"
    spec:
      containers:
        - name: "book-api"
          image: "motivado/hello-k8s:v7"

          startupProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 3
            failureThreshold: 30
          
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 3
            failureThreshold: 1

          livenessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 5
            timeoutSeconds: 1
            failureThreshold: 1
            successThreshold: 1 
          envFrom:
            - configMapRef:
                name: book-api-config
          resources:
            requests:
              cpu: "0.3"
              memory: "20Mi"
            limits:
              cpu: "0.5"
              memory: "25Mi"
