# service semelhante a um load balancer

apiVersion: v1
kind: Service
metadata:
  name: "book-api-service"
spec:
  selector:
    app: "book-api"
  type: LoadBalancer # ClusterIP, NodePort, LoadBalancer, ExternalName
  # CLusterIp é o tipo de service padrao, usado para comunicação interna entre os pods

  ports:
    - name: book-api-server
      protocol: TCP
      port: 80
      targetPort: 3000
# kubectl run -it fortio --rm --image=fortio/fortio -- load -qps 800 -t 120s -c 70 "http://book-api-service/"