apiVersion: apps/v1
kind: Deployment
metadata:
  name: "book-api"
  labels:
    app: "book-api"

spec:
  selector:
    matchLabels:
      app: "book-api"
  replicas: 2
  template:
    metadata:
      labels:
        app: "book-api"
    spec:
      containers:
        - name: "book-api"
          image: "motivado/hello-k8s:v5" 
          envFrom:
            - configMapRef:
                name: book-api-config     
            - configMapRef:
                name: book-api-config-family
          resources:
            limits:
              cpu: "500m"
              memory: "128Mi"
            
