apiVersion: v1
# pods sao os menores objetos que podemos criar no k8s
# sao os objetos que representam os containers
kind: Pod

metadata:
  name: "book-api"
  labels:
    app: "book-api"
  
spec:
  containers:
    - name: "book-api"
      image: "motivado/hello-k8s:v5"

